h1 {
    
    /*
    border-style: solid;
    border-width: 3px;
    border-color: rgb(124, 17, 224);
    */
    
    border: 3px solid rgb(124, 17, 224);
    border-radius: 20px;

}

p {

    border-bottom: 3px solid black;
    border-top: 3px solid #ffff00;
    border-left: 3px dotted red;
    border-right: 3px double #008000;
    
}