body {

    background-image:url(./images/03-desktop\ Anby\ Billy.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}