.dropdown {

    display: inline-block;

}

.dropdown button {

    background-color: rgb(194, 187, 187);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}

.dropdown a {

    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}

.dropdown .content {

    display: none;
    position: absolute;
    background-color: rgb(211, 211, 211);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(46, 46, 46);

}

.dropdown:hover .content {

    display: block;

}

.dropdown:hover button {

    background-color: rgb(165, 163, 163);

}

.dropdown a:hover {

    background-color: rgb(155, 150, 150);

}