body {

    margin: 0px;

}

.box {

    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;

}

#box1 {

    background-color: rgb(206, 47, 47);
    margin-left: 50px;
}

#box2 {

    background-color: rgb(25, 189, 25);
    margin-left: auto;
    
}