img {

    max-width: 250px;
    height: auto;
}

.gallery {

    display: inline-block;
    border: 1px solid grey;
    margin: 5px;
    width: 250px;

}

.gallery .description {

    text-align: center;
    padding: 10px;

}

.gallery:hover {

    border: 1px solid black;

}

.gallery img {

    width: 100%;
    height: auto;

}